@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #000;
}

@layer utilities {
  .animation-delay-300 {
    animation-delay: 300ms;
  }
  .animation-delay-500 {
    animation-delay: 500ms;
  }
}

@keyframes moveRight {
  0% { transform: translateX(-100px); }
  100% { transform: translateX(calc(100vw + 100px)); }
}
@keyframes moveLeft {
  0% { transform: translateX(calc(100vw + 100px)); }
  100% { transform: translateX(-100px); }
}
@keyframes moveDiagonal {
  0% { transform: translate(-100px, 100px); }
  100% { transform: translate(calc(100vw + 100px), -100px); }
}